In [7]:
#This code print message
print("Welcome to Python Programming!")

Welcome to Python Programming!

In [9]:
"""This code print 
my name and course"""
name = "Wejdan"
course = "Python"
print(name)
print(course)

Wejdan
Python

In [6]:
student_name = "Alice"
age = 20
gpa = 3.75
subjects = ["Math", "Python", "Physics"] 
student_info = {"id": 101, "year": 2} 
skills = {"Python", "SQL"} 
is_enrolled = True
graduation_date = None 

#Printng va
print(student_name, type(student_name))
print(age, type(age))
print(gpa, type(gpa))
print(subjects, type(subjects))
print(student_info, type(student_info))
print(skills, type(skills))
print(is_enrolled, type(is_enrolled))
print(graduation_date, type(graduation_date))

Alice <class 'str'>
20 <class 'int'>
3.75 <class 'float'>
['Math', 'Python', 'Physics'] <class 'list'>
{'id': 101, 'year': 2} <class 'dict'>
{'Python', 'SQL'} <class 'set'>
True <class 'bool'>
None <class 'NoneType'>