In [2]:
print("Welcome to Python Programming!")

Welcome to Python Programming!

In [3]:
name = "Wejdan"
course = "Python"
print(name)
print(course)
#comment
"""comment comment"""

Wejdan
Python

'comment comment'

In [4]:
student_name = "Alice"
age = 20
gpa = 3.75
subjects = ["Math", "Python", "Physics"] 
student_info = {"id": 101, "year": 2} 
skills = {"Python", "SQL"} 
is_enrolled = True
graduation_date = None 
print(student_name)
print(type(student_name))
print(age)
print(type(age))
print(gpa)
print(type(gpa))
print(subjects)
print(type(subjects))
print(student_info)
print(type(student_info))
print(skills)
print(type(skills))
print(is_enrolled)
print(type(is_enrolled))
print(graduation_date)
print(type(graduation_date))

Alice
<class 'str'>
20
<class 'int'>
3.75
<class 'float'>
['Math', 'Python', 'Physics']
<class 'list'>
{'id': 101, 'year': 2}
<class 'dict'>
{'Python', 'SQL'}
<class 'set'>
True
<class 'bool'>
None
<class 'NoneType'>